{%extends 'base.html'%}

{% block head%} {% endblock %}
<title>Edit Posts</title>


{% block body%}
<h1>Edit Page</h1>

    <hr>
    <h2>Editing Post</h2> 
    <form action ='/posts/edit/{{post.id}}' method ='POST'>
        
        <label for="title">Title:</label>
        <input class="form-control" type="text" name='title' id = 'title' value= "{{ post.title }}"aria-label="Enter Title">
        <br>
        
        <label for="author">Author:</label>
        <input class="form-control" type="text" name='author' id = 'author' placeholder="Enter Author" aria-label="Author">
  
        <br>
        
        
       
        
        <label for="content">Posts:</label>
        <textarea class="form-control" name='content' id="content" rows="3">{{ post.content }}</textarea>
      
        <br>
        <input type = 'submit' value = 'Save'>
    </form>

    <hr>
{% endblock %}      