{% extends 'base.html'%}

{% block head%} {% endblock %}
<title>Home</title>
{% block body%} 
<h1>Home page</h1>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>Welcome Home, this is a development Page </p>
        <p>Please keep checking us out for more nice content</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Go to BlogPosts &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}