{%extends 'base.html'%}

{% block head%} {% endblock %}
    <form method='POST' action="">
        {{ form.hidden_tag() }}
        <fieldset class='form-group'>
            <legend class='border-bottom mb-4'>Join Today</legend>
            <div class="form-group">
                {{ form.username.label(class='form_control_label') }}
                {{ form.username(class='form_control form_control_lg') }}

            </div>
            <div class="form-group">
                {{ form.email.label(class='form_control_label') }}
                {{ form.email(class='form_control form_control_lg') }}

            </div>
            <div class="form-group">
                {{ form.password.label(class='form_control_label') }}
                {{ form.password(class='form_control form_control_lg') }}

            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class='form_control_label') }}
                {{ form.confirm_password(class='form_control form_control_lg') }}

            </div>


        </fieldset>
        <div class='form-group'.>
            {{ form.submit(class='btn btn-outline-info') }}

        </div>
    </form>
    <div class = 'border-top pt-3'>
        <small class 'text-muted'>
            Already Have An Account? <a class='ml-2' href='{{ url_for('login') }}'>Sign In </a>

        </small> 
    </div>
    

{% block body%}